@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --main-color: rgb(34, 197, 94),


}


* {
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;

}


ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #111;
}

.register {
    margin-top: 2rem;
}



.main-container {
    width: 100%;

    .apply-button-container {
        display: flex;
        justify-content: end;
        padding: 18px 30px;

        button {
            border: none;
            padding: 10px 20px;
            font-weight: 600;
            background: linear-gradient(90deg, rgba(180, 226, 184, 1) 0%, rgba(34, 197, 94, 1) 100%);
            color: white;
            cursor: pointer;
            border-radius: 10px;
        }
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;

    .logo-section img {

        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .form-section {
        border-radius: 5px;
        background-color: #222;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 350px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


        h2 {
            text-align: center;
            font-size: 1.8rem;
            margin-bottom: .4rem;
            color: #ccc;
        }

        p {
            text-align: center;
            color: #aaa;
        }

        .input-section {
            display: flex;
            flex-direction: column;
            color: #eee;
            gap: 6px;


            input {
                outline: rgba(34, 197, 94, 1);
                border: none;
                padding: 10px 5px;
                border-radius: 5px;
                font-weight: 600;
                font-size: 1rem;
                background-color: #aaa;
            }
        }

        .password-section {

            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 100%;
            color: #eee;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-size: .9rem;
                }
            }

            input {
                outline: rgb(19, 163, 72);

                border: none;
                padding: 10px 5px;
                border-radius: 5px;
                font-weight: 600;
                font-size: 1rem;
                background-color: #aaa;
            }
        }


        button {
            padding: 8px 0px;
            margin-top: .6rem;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            background: linear-gradient(90deg, rgba(167, 237, 173, 1) 44%, rgba(34, 197, 94, 1) 100%);
            color: #eee;
            border: none;
            border-radius: 5px;
        }

        .account-section {
            padding: 5px 0px;
            color: #eee;


            a {
                text-decoration: none;
                color: rgb(34, 197, 94);
            }
        }

    }

}




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 5px;
}