:root {
    --background: #fff;
    --card: #181818;
    --divider: #212121;
    --sidebar: #181818;
    --primary-text: #d1d5db;
    --secondary-text: #9ca3af;
    --accent: #0275d8;
  }
  
  // body {
  //   background-color: green;
  //   font-family: sans-serif;
  //   width: 100vw;
  //   height: 100vh;
  //   position: relative;
  // }


  
  .chart-wrapper {
    position: relative;
    // top: 70%;
    top: 12rem;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: #212529;
    color: var(--primary-text);
    
    h2 {
      margin: 0;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
  

