<div class="main-container register">
    <p-toast></p-toast>
    <div class="auth-container">
        <div class="logo-section">
            <img src="../../../assets/brand/main-logo.png" alt="main-logo">
        </div>
        <div class="form-section" style="width: 390px;">
            <div>
                <h2>Register</h2>
                <p>Access to our Dashboard</p>
            </div>
            <div class="input-section">
                <label>FirstName*</label>
                <input type="text" [(ngModel)]="username" placeholder="Enter your name...">
            </div>
            <div class="input-section">
                <label>Email Address*</label>
                <input type="email" [(ngModel)]="userEmail" placeholder="admin@gmail.com" >
            </div>
            <div class="password-section">
                <div>
                    <label>Password*</label>

                </div>
                <input type="password" [(ngModel)]="userPassword" placeholder="Enter your password" >

            </div>
            <button class="login-btn" (click)="onRegister()">Register</button>
            <div class="account-section">
                <span>Already have an Account ? </span>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</div>