<div class="main-container">
    <div class="head-section">
        <h2 class="main-title">Welcome Admin !</h2>
        <span>Dashboard</span>
    </div>

    <div class="info-container">
        <div class="box-contain">
            <div class="icon">
                <i class="fa-solid fa-cubes"></i>
            </div>
            <div>
                <span>112</span>
                <span>Projects</span>
            </div>
        </div>
        <div class="box-contain">
            <div class="icon">
                <i class="fa-solid fa-dollar"></i>
            </div>
            <div>
                <span>44</span>
                <span>Clients</span>
            </div>
        </div>
        <div class="box-contain">
            <div class="icon"><i class="fa-regular fa-gem"></i></div>
            <div>
                <span>37</span><span>Task</span>
            </div>
        </div>
        <div class="box-contain">
            <div class="icon"><i class="fa-regular fa-user"></i></div>
            <div>
                <span>219</span><span>Employee</span>
            </div>
        </div>
    </div>

    <div class="chart-container" >
        <div>
            <app-chart></app-chart>
        </div>
        <div>
            <app-line></app-line>
        </div>
    </div>


    <div class="progress-container">
        <div class="pro-container border">
            <div class="pro-info" >
                <p>New Employee</p>
                <span class="positive">+10%</span>
            </div>
            <span class="progress-num">10</span>
            <div class="progress-section">
                <div class="progress"></div>
            </div>
            <div class="prev-info">
                <p>Overall Employee</p>
                <span>218</span>
            </div>
        </div>
        <div class="pro-container border">
            <div class="pro-info" >
                <p>Earnings</p>
                <span class="positive">+12.5%</span>
            </div>
            <span class="progress-num">$1,42,000</span>
            <div class="progress-section">
                <div class="progress"></div>
            </div>
            <div class="prev-info">
                <p>Previous Month</p>
                <span>$ 1,18,000</span>
            </div>
        </div>
        <div class="pro-container border">
            <div class="pro-info" >
                <p>Expenses</p>
                <span class="negative">-2.5%</span>
            </div>
            <span class="progress-num">$ 8,500</span>
            <div class="progress-section">
                <div class="progress"></div>
            </div>
            <div class="prev-info">
                <p>Previous Month</p>
                <span>$ 7,500</span>
            </div>
        </div>
        <div class="pro-container">
            <div class="pro-info" >
                <p>Profit</p>
                <span class="negative">-7%</span>
            </div>
            <span class="progress-num">$ 1,12,000</span>
            <div class="progress-section">
                <div class="progress"></div>
            </div>
            <div class="prev-info" >
                <p>Previous Month</p>
                <span>$ 1,42,000</span>
            </div>
        </div>
    </div>

    <div class="data-container">
        <div class="stat-section stat ">
            <h2>Statistics</h2>
        </div>
        <div class="task-section stat ">
            <h2>Task Statistics</h2>
        </div>
        <div class="today-section stat ">
            <h2>Today Absent</h2>
        </div>
    </div>
</div>