.main-container {
    height: fit-content;
}


.head-section {
    padding: 30px 5px;


    .main-title {
        font-weight: 700;
    }


    span {
        font-weight: 400;
        color: gray;
    }
}

////////////////////   Info Container /////////////////


.info-container {
    display: flex;
    justify-content: space-between;


    .box-contain {
        width: 260px;
        height: 100px;
        display: flex;
        justify-content: center;
        gap: 5rem;
        align-items: center;
        background-color: #212529;
        border-radius: 5px;


        .icon {
            // border: 2px solid green;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: rgba(144, 238, 144, 0.4); 
            color: rgb(34, 197, 94);
            
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            
        }
    }

}


////////////////////////////   chart Container //////////////////////
.chart-container {
    display: flex;
    height: 400px;
    gap: 1rem;


    div {
        // border: 2px solid red;
        flex: 1;
        
    }
    
}


/////////////////////////////   Progress Container /////////////////


.progress-container {
    // border: 2px solid blue;
    display: flex;
    margin-bottom: 40px;
    background-color: #212529;
    border-radius: 5px;

    .border {

        border-right: 2px solid #262f37;
    }


    .pro-container {
        flex: 1;
        height: 150px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .progress-num {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .progress-section {
            // border: 1px solid purple;
            width: 100%;
            border-radius: 20px;
            background-color: white;
            height: 10px;

            .progress {
                width: 70%;
                height: 7px;
                // border: 2px solid red;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-color: rgb(34, 197, 94);
            }
        }


        .pro-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-weight: 500;
                font-size: 1.1rem;
                color: gray;
            }

            .positive {
                color: rgb(34, 197, 94);
                font-weight: 400;
            }

            .negative {
                color: red;
                font-weight: 400;
            }
        }

        .prev-info {
            display: flex;
            gap: 8px;


            p {
                color: rgb(206, 191, 191);
            }

            span {
                color: grey;
                font-weight: 600;
            }
        }
    }
}

///////////////////////   stat Container ///////////////////////////


.data-container {
    // border: 2px solid red;
    margin-bottom: 2rem;
    display: flex;
    gap: 20px;


    
    h2 {
        font-weight: 500;
        margin-left: 5px;
    }

    .stat{
        // border: 1px solid blue;
        flex: 1;
        height: 420px;
        border-radius: 5px;
        background-color: #212529;
        padding: 12px;

    }

    .stat-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .grid-section {
            background-color: #16191c;
            border-radius: 5px;
            padding: 12px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid rgb(43, 42, 42);

            .infoSection {
                display: flex;
                justify-content: space-between;
                font-size: .8rem;
                color: #ccbebe;

                p {
                    color: gray;
                }
            }


            .progress {
                height: 5px;
                background-color: white;
                border-radius: 20px;


                .yellow-progress {
                    background-color: #ff902f;
                    height: 5px;
                    width: 30%;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                .green-progress {
                    background-color: #55ce63;
                    height: 5px;
                    width: 50%;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                .red-progress {
                    height: 5px;
                    width: 70%;
                    background-color: #009efb;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                .open {
                    background-color: #fc133d;
                }
            }
        }
    }
}

////////////////////////////   task Container //////////////////////


.task-container {
    // border: 2px solid #fc133d;
    display: flex;
    gap: 1rem;
    margin-top: 8px;
    padding: 10px 0px;
    



    div {
        border: 1px solid rgb(43, 42, 42);
        border-radius: 5px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px 0px;
        color: #ccbebe;
        background-color: #16191c;


        p {
            font-size: .9rem;
        }


        span {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}


.huge-progress {
    background-color: white;
    width: 100%;
    height: 15px;
    margin: 10px 0px;
    border-radius: 20px;
    display: flex;
}

.huge-progress .progress-bar:nth-child(1) {
    background-color: #009efb;
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size: .7rem;
    height: 15px;
}

.huge-progress .progress-bar:nth-child(2) {
    background-color: #ff902f;
    width: 22%;
    text-align: center;
    font-size: .7rem;
    height: 15px;
}

.huge-progress .progress-bar:nth-child(3) {
    background-color: #55ce63;
    width: 24%;
    text-align: center;
    font-size: .7rem;
    height: 15px;
}


.huge-progress .progress-bar:nth-child(4) {
    background-color: #fc133d;
    width: 21%;
    text-align: center;
    font-size: .7rem;
    height: 15px;
}

.huge-progress .progress-bar:nth-child(5) {
    background-color: #134d86;
    width: 10%;
    text-align: center;
    font-size: .7rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 15px;
}


.overview-section {
    // border: 2px solid #009efb;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px 10px;


    .overview {
        display: flex;
        justify-content: space-between;
        gap: 1rem;


        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
    

            p {
                color: gray;
                font-weight: 500;
            }
        }

        span {
            font-size: .9rem;
            color: rgb(197, 191, 191);
            font-weight: 600;
        }



        
    }
}


////////////////////////////////////  Today Container /////////////////////


.user-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 20px;


    .user-section {
        
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 1px solid rgb(43, 42, 42);

        .user-details {
            display: flex;
            align-items: center;
            gap: 10px;

            .user {
                width: 30px;
                height: 30px;
                background-color: gray;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: end;
                overflow: hidden;

                i {
                    font-size: 1.4rem;
                }
            }
        }

        .date {
            font-size: .9rem;
            font-weight: 500;
        }

        .user-info {
            display: flex;
            justify-content: space-between;


            p {
                color: gray;
            }

            .approved {
                color: #55ce63;
                background-color: rgba(85, 206, 99, 0.3);
                padding: 5px;
                border-radius: 8px;
                font-size: .7rem;
            }

            .pending {
                color: #fc133d;
                background-color: rgba(197, 20, 20, 0.3);
                padding: 5px;
                border-radius: 8px;
                font-size: .7rem;
            }
        }
    }

    .load {
        width: fit-content;
        display: block;
        margin: auto;
        border: none;
        padding: 7px 14px;
        color: white;
        background-color: #55ce63;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
    }

}






