<div class="header-container">
    <div class="left-container">
        <div class="main-logo">
            <img src="../../../../assets/brand/main-white-logo.png" alt="main-logo">

        </div>
        <div class="title-container">
            <i class="pi pi-bars"></i>
            <span>VEMS Technologies</span>

        </div>
    </div>
    <div class="right-container">
        <div class="search-container">
            <input type="text" placeholder="Search here...">
            <i class="pi pi-search"></i>

        </div>
        <div class="flag-container ">
            <span>&#127468; English</span>
            <i class="pi pi-angle-down"></i>


        </div>
        <div class="dropdown ">
            <button class="dropdown-btn" (click)="toggleDropdown()">
                Admin 
                <i class="pi" [ngClass]="isDropdownOpen ? 'pi-angle-up' : 'pi-angle-down'"></i>
              </button>
            <div class="dropdown-menu" [class.show]="isDropdownOpen">
                <a href="#">My Profile</a>
                <a href="#">Settings</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</div>