<div class="main-container">
    <app-dynamic-header [title]="'Projects'" [breadcrumb]="'Dashboard / Projects'"
    [addButtonText]="'Add Projects'" ></app-dynamic-header>

    <div class="search-container">
        <div class="input-container">
            <input type="text" placeholder="Project Name">
        </div>
        <div class="input-container">
            <input type="text" placeholder="Employee Name">
        </div>
        <div class="select-container">
            <input type="text" placeholder="select Designation">
        </div>
        <div class="btn-container"> 
            <button class="search-btn">Search</button>
        </div>

    </div>
</div>