
* {
    color: white;
    
}

.main-container {
  height: 100%;
}

.grid-container {

    height: 100vh;
    display: flex;
    gap: 2rem;
}

.sidebar-container {
    overflow-y: scroll;
    overflow-x: auto;
    flex: 1;
}

.content-container {
    
    flex: 4;
}




/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 5px;
  }

  
  
  
