/////////////////  Header Container ////////////////
// background-color: #212529;
// background-color: #6c757d;
// background-color: #262f37;


.main-container {
    width: 100%;
}

.header-container {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;



    .add-leave-btn {
        height: fit-content;
        padding: 10px 15px;
        border : none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap: 10px;
        font-size: 1rem;
        font-weight: 600;
        background: linear-gradient(90deg, rgba(97, 214, 107, 1) 39%, rgba(6, 116, 46, 1) 100%);
        color: white;
        cursor: pointer;


        i {
            font-weight: 700;
        }
    }



    .main-heading {
          h2 {
            // margin-bottom: 5px;
            font-size: 1.8rem;
          }


          span {
            color: gray;
          }
    }
}


//////////////////////////    Info section //////////////////////



.info-section {
    display: flex;
    gap: 10px;
    height: fit-content;
    padding: 15px;
    justify-content: space-between;
    // margin-top: .3rem;
    flex-wrap: wrap;

    div {
        
        width: 250px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: #212529;
        border-radius: 5px;
        color: #eee;


        h3 {
            font-weight: 500;
        }

        p {
            font-weight: 500;


            span {
                color: gray;
            }
        }
             
    }

}

///////////////     Search Container  /////////////////////

.search-container {
    display: flex;
    gap: 13px;
    padding:  5px 13px;
    align-items: center;

    form { 
        display: flex;
        gap: 13px;        
        
        
        
        input, select {
        background-color: #212529;
        color: #fff;
        padding: 20px 15px;
        width: 170px;
        border: none;
        border-radius: 5px;
        outline: none;

        &::placeholder {
            color: #999;
        }
    }
} 

    select {
        appearance: none;
        background-color: #212529;
        
    }

    button {
        background-color: #28a745; /* Green search button */
        color: #fff;
        border: none;
        padding: 18px 10px;
        width: 170px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-size: 1.1rem;

        &:hover {
            background-color: #218838; /* Darker green on hover */
        }
    }


}


////////////////////////       Pagination Section /////////////////////


.pagination-section {
    display: flex;
    gap: 5px;
    // justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 1rem;


    select {
        padding: 8px;
        outline: none;
        border: none;
        // border-radius: 5px;
        background-color: #212529;
        color: white;
        font-size: 1rem;
    }
    
}
.pagination-controls {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    // margin-right: 2rem;
    justify-content: end;
    align-items: center;

    button {
        border : none;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(6, 116, 46, 1);
        cursor: pointer;


        i {
            font-size: 1.5rem;
            color: white;
        }
    }
}



//////////////////   ADD lEAVE Modal //////////////////////////

.custom-modal {
    position: absolute;
    z-index: 10; 
    left: 30%;
    top: 10%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; 
}


.custom-modal-content {
    position: relative;
    width: 600px;
    background-color: #212529;
    border-radius: 10px;
    color: white;
    height: fit-content;
    padding: 15px 20px;


    .modal-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;
        font-weight: 600;
        font-size: 1.3rem;
        
        i {
            font-size: 1.3rem;
            cursor: pointer;

        }
    }



    .modal-footer {
        margin: 10px;
        display: flex;
        justify-content: end;
        gap: 10px;

        button {
            border : none;
            padding: 10px 30px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
        }

        button:first-child {
        background-color: #6c757d;
        }

        button:last-child {
            background-color: rgb(34, 197, 94);
        }
    }


    .modal-content {
        padding: 10px;

        
        .input-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 1rem;
            width: 100%;


            div {
                display: flex;
                flex: 1;
                flex-direction: column;
                gap: .5rem;


                label {
                    font-weight: 400;
                    font-size: .9rem;
                }

                input {
                    outline: none;
                    border : none;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 600;
                    color: #fff;
                    background-color: #6c757d;
                }


                select {
                    outline: none;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 600;
                    background-color: #6c757d;
                    font-size: 1rem;
                    color: white;
                }


                textarea {
                    outline: none;
                    background-color: #6c757d;
                    border-radius: 5px;
                    font-size: 1rem;
                    color: white;
                    padding: 5px;
                }
            }
        }

    }
    
}





//////////////////////////    Table component ////////////////////

.table-container {
    width: 100%;
    padding: 20px;
    
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #212529;
        color: #ccc;
        
    }

    table, th, tr, td {
        border: 1px solid gray ;
    }

    td {
        color: #f1f1f1;
        border-bottom: 1px solid #444;
    }

    i {
        color: #aaa; 
        cursor: pointer;
        font-size: 10px;
    }

    .even {
        background-color: #262f37;
    }

    .odd {
        background-color: #212529;
    }

    .action-section {
        width: 100px;
    }

    .edit-section {
        display: flex;
        gap: 15px;
    
        .icons {
            background-color: black;
            padding: 4px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    
    .delete-icons {
        padding: 4px 10px;
        background-color: #3e556c;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }

    svg {
        width: 15px;
        height: 15px;
    }
    



}

