
.main-container {
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    background-color: #212529;
    padding: 10px 8px;
    height: 100vh;
    // height: 100%;
    width: 16vw; 
    
}

ul span {
    font-size: 1.3rem;
    font-weight: 500;
    color: gray;
    margin-top: 1rem;

}


ul  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: .5rem;

    
    

    a {
        color: gray;
        font-weight: 400 ;
        font-size: 1rem;
    }

    a:hover {
        color: white;
    }

    i {
        color: gray;

    }




}


li:hover {
    color : white;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 5px;
  }

  

  