<div class="main-container">
    <ul>
        <li> <i class="pi pi-plus-circle"></i> <a routerLink="admin">Dashboard</a></li>
        <li>
            <i class="pi pi-plus-circle"></i><a routerLink="create-emp">All Employee</a>
        </li>
        <li>
            <i class="pi pi-plus-circle"></i>
            <a routerLink="add-dept">Department</a>
        </li>
        <li>
            <i class="pi pi-plus-circle"></i>
            <a routerLink="admin-leave">Leave(admin)</a>
            </li>
        <!-- <li>
            <i class="pi pi-plus-circle"></i>
            <a routerLink="">Leave(employee)</a></li> -->
        <li>
            <i class="pi pi-plus-circle"></i>
            <a routerLink="job">Designation</a></li>
        <li>
            <i class="pi pi-plus-circle"></i>
            <a routerLink="projects">Projects</a></li>
    </ul>
</div>