
.main-container {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    height: fit-content;
    padding: 10px 12px;
    gap: 1rem;
    // height: 100vh;
}

ul span {
    font-size: 1.3rem;
    font-weight: 500;
    color: gray;
    margin-top: 1rem;

}


ul  {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: .5rem;
    

    a {
        color: white;
        font-weight: 400 ;
        font-size: 1rem;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 5px;
  }

  

  