<div class="main-container">
    <ul>
        <span># Employees</span>
        <li> <i class="pi pi-caret-right"></i> <a routerLink="create-emp">Add Emp</a> </li>
        <li> <i class="pi pi-caret-right"></i> <a routerLink="edit-emp">Edit Emp</a> </li>
        <!-- <li> <i class="pi pi-caret-right"></i> <a href="/">Employee Profile</a> </li> -->
    </ul>



    <ul>
        <span># Department</span>
        <li><i class="pi pi-caret-right"></i> <a href="/">Add Dept</a></li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Edit Dept</a> </li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Departments</a></li>
    </ul>


    <ul>
        <span># Attendence</span>

    </ul>

    <ul>
        <span># Leave(Employee)</span>
        <li><i class="pi pi-caret-right"></i> <a href="/">Add Dept</a></li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Edit Dept</a> </li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Departments</a></li>
    </ul>

    <ul>
        <span># Payroll (Employee)</span>
        <li><i class="pi pi-caret-right"></i> <a href="/">Add Dept</a></li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Edit Dept</a> </li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Departments</a></li>
    </ul>
</div>