<div class="main-container">
    <ul>
        <span># Employees</span>
        <li> <i class="pi pi-caret-right"></i> <a href="/">Add Emp</a> </li>
        <li> <i class="pi pi-caret-right"></i> <a href="/">Edit Emp</a> </li>
        <li> <i class="pi pi-caret-right"></i> <a href="/">Employee Profile</a> </li>
    </ul>

    <hr>

    <ul>
        <span># Department</span>
        <li><i class="pi pi-caret-right"></i> <a href="/">Add Dept</a></li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Edit Dept</a> </li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Departments</a></li>
    </ul>

    <hr>
    <ul>
        <span># Attendence</span>
        <span># Department</span>
        <li><i class="pi pi-caret-right"></i> <a href="/">Add Dept</a></li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Edit Dept</a> </li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Departments</a></li>
    </ul>
    <hr>
    <ul>
        <span># Leave(Employee)</span>
        <span># Department</span>
        <li><i class="pi pi-caret-right"></i> <a href="/">Add Dept</a></li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Edit Dept</a> </li>
        <li> <i class="pi pi-caret-right"></i><a href="/">Departments</a></li>
    </ul>
    <hr>
    <ul>
        <span># Payroll (Employee)</span>
    </ul>
</div>

