<div class="main-container">
    <section class="apply-button-container">
        <button>Apply Job</button>
    </section>
    <div class="auth-container">
        <div class="logo-section" >
            <img src="../../../assets/brand/main-logo.png" alt="main-logo" >
        </div>
        <div class="form-section">
            <div>
                <h2>Login</h2>
                <p>Access to our Dashboard</p>
            </div>
            <div class="input-section">
                <label >Email Address</label>
                <input name="userEmail" type="email" [(ngModel)]="userEmail" placeholder="admin@gmail.com">
            </div>
            <div class="password-section" >
                <div>
                    <label>Password</label>
                    <span>Forgort Password</span>
                </div>
                
                    <input type="password" [(ngModel)]="userPassword" placeholder="Enter your password">
                
            </div>
            <button class="login-btn" (click)="onLogin()">Login</button>
            <div class="account-section">
                <span>Don't have an account ? </span>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
</div>
